*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container{
    padding-top: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: white;
}
.mm{
    border-radius: 20px;
    align-self: center;
}
button{
    width:30%;
    padding: 15px;
    border-radius: 10px;
    font-weight: 900;
}

.list input{
    padding: 15px;
    border: none;
    outline: none;
    background-color: black;
    color: white;
}
p{
    font-size: 10px;
}
input{
    padding: 15px;
    text-align: center;
    outline: none;
    border: none;
}
.imglist{
    display: flex;
    align-items: center;
    justify-content: center;
}